// ========================================================================
//
//    Artur
//    https://github.com/indrekpaas/artur
//
//    Title: Triangle
//    Type:  Mixin
//
// ========================================================================


@mixin triangle($width, $height, $color, $direction, $inherit: false) {
    @if $inherit == false {
        border: solid transparent;
        height: 0;
        -moz-transform: scale(1.001);
        width: 0;
    }

    @if $direction == top {
        border-bottom-color: $color;
        border-width: 0 ($width / 2) $height ($width / 2);
    }
    @else if $direction == top-right {
        border-right-color: $color;
        border-width: 0 $width $height 0;
    }
    @else if $direction == right {
        border-left-color: $color;
        border-width: ($height / 2) 0 ($height / 2) $width;
    }
    @else if $direction == bottom-right {
        border-bottom-color: $color;
        border-width: 0 0 $height $width;
    }
    @else if $direction == bottom {
        border-top-color: $color;
        border-width: $height ($width / 2) 0 ($width / 2);
    }
    @else if $direction == bottom-left {
        border-left-color: $color;
        border-width: $height 0 0 $width;
    }
    @else if $direction == left {
        border-right-color: $color;
        border-width: ($height / 2) $width ($height / 2) 0;
    }
    @else if $direction == top-left {
        border-top-color: $color;
        border-width: $height $width 0 0;
    }
}
