/**
 * React Select
 * ============
 * Created by Jed Watson and Joss Mackison for KeystoneJS, http://www.keystonejs.com/
 * https://twitter.com/jedwatson https://twitter.com/jossmackison https://twitter.com/keystonejs
 * MIT License: https://github.com/JedWatson/react-select
*/

// Variables
// ------------------------------
@import "settings";

// control options
$select-input-bg:                   $pearlbush;
$select-input-bg-disabled:          $pearlbush;
$select-input-border-color:         transparent;
$select-input-border-radius:        0;
$select-input-border-focus:         transparent;
$select-input-border-width:         0;
$select-input-height:               50px;
$select-input-internal-height:      ($select-input-height - ($select-input-border-width * 2));
$select-input-placeholder:          $primary;
$select-text-color:                 $primary;
$select-link-hover-color:           $white;

$select-padding-vertical:           10px;
$select-padding-horizontal:         10px;

// menu options
$select-menu-zindex:                1000;
$select-menu-max-height:            380px;

$select-option-color:               $select-text-color;
$select-option-bg:                  $select-input-bg;
$select-option-focused-color:       $white;
$select-option-focused-bg:          $pearlbush;
$select-option-selected-color:      $primary;
$select-option-selected-bg:         $pearlbush;
$select-option-disabled-color:      $primary;

$select-noresults-color:            $primary;

// clear "x" button
$select-clear-size:                 floor(($select-input-height / 2));
$select-clear-color:                #999;
$select-clear-hover-color:          #D0021B; // red
$select-clear-width:                ($select-input-internal-height / 2);

// arrow indicator
$show-default-select-arrow:         false;
$select-arrow-color:                $white;
$select-arrow-color-hover:          $primary;
$select-arrow-width:                12px;

// loading indicator
$select-loading-size:               16px;
$select-loading-color:              $select-text-color;
$select-loading-color-bg:           $select-input-border-color;

// multi-select item
$select-item-border-radius:         2px;
$select-item-gutter:                5px;
$select-item-padding-vertical:      2px;
$select-item-padding-horizontal:    5px;
$select-item-font-size:             .9em;
$select-item-color:                 #08c; // pale blue
$select-item-bg:                    #f2f9fc;
$select-item-border-color:          darken($select-item-bg, 10%);
$select-item-hover-color:           darken($select-item-color, 5%); // pale blue
$select-item-hover-bg:              darken($select-item-bg, 5%);
$select-item-disabled-color:        #333;
$select-item-disabled-bg:           #fcfcfc;
$select-item-disabled-border-color: darken($select-item-disabled-bg, 10%);


@import "control";
@import "menu";
@import "mixins";
@import "multi";
@import "spinner";

.Select {
  border-bottom: 1px solid $primary;
  width: 100%;
  @include media(from laptop) {
      width: 275px;
      margin: 0 0 0.5em 1em;
      float: right;
  }

  .Select-value {
    // border-bottom: 1px solid $primary;
  }

  .Select-arrow {
    // chevron down
    background-image: svg-encode('<svg fill="#{$white}" viewBox="0 0 1024 1024"><path d="M512,639.45L78.45,205.9L1.34,283.01l433.55,433.55l-1.35,1.35l77.11,77.11l1.35-1.35l1.35,1.35 l77.11-77.11l-1.35-1.35l433.55-433.55l-77.11-77.11L512,639.45z"/></svg>');
    width: 12px;
    height: 12px;
    background-size: 100%;
  }

  &.is-open {
    .Select-arrow {
      // chevron up
      background-image: svg-encode('<svg fill="#{$white}" viewBox="0 0 1024 1024"><path d="M512,361.47l433.55,433.55l77.11-77.11L589.11,284.36l1.35-1.35l-77.11-77.11l-1.35,1.35l-1.35-1.35 l-77.11,77.11l1.35,1.35L1.34,717.9l77.11,77.11L512,361.47z"/></svg>');
    }
  }
}


.Select-value-label:before {
  content: "Show: ";
  color: $white;

  .filter-department & { content: "Department: "; }
  .filter-services & { content: "Service: "; }
  .filter-clients & { content: "Client: "; }
}


.Select-option {
  border-bottom: 1px solid $primary;

  &:first-child {
    border-top: 1px solid $primary;
  }
}
