%u-transition,
.u-transition {
  transition-duration: 0.15s;
  transition-property:
    background-color,
    background-image,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow;
  transition-timing-function: ease-out;
}
