// overriding woocommerce styles

img {
  border-radius: 0;
}

.site-main {
  margin-bottom: 0;
}

.text-white {
  p, h1, h2, h3, h4, h5, h6, a, span, small, label, .arrow-btn {
    color: $white !important;
  }
}

body p > img {
  width: auto;
  margin: 2rem 0;
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main {
  padding-top: 0;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message, .woocommerce-noreviews, p.no-comments {
  background-color: $blue;
  font-size: 0.8em;

  .wc-forward, .woocommerce-Button--next {
    &:after {
      @extend .ion;
      content: $ionicon-var-ios-arrow-thin-right;
      transition: transform 0.15s;
      position: relative;
    }

    &:hover {
      &:after {
        transform: translateX(2px);
      }
    }
  }
}

.woocommerce-error {
  background-color: $orange;
}

.pswp__bg {
  background: $white;
}

.pswp__ui--fit .pswp__top-bar, .pswp__ui--fit .pswp__caption {
  background: $primary;
}

.single-product div.product .woocommerce-product-gallery .zoomImg {
  background: $lightgrey;
}

.woocommerce-product-gallery__trigger {
  display: none !important;
}

table.cart .qty {
  max-width: 100%;
}

.wc-proceed-to-checkout .button.checkout-button {
  font-size: initial;
}

.beta+h3, h2+h3 {
  border: 0;
}

.single-product div.product .woocommerce-product-gallery .zoomImg {
  opacity: 0 !important;
}

a:focus,
.added_to_cart:focus,
.button:focus,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus {
  outline: 0;
}

.w2m-pricebreak-checkout {
  img {
    margin: 0;
  }
}

button.menu-toggle {
  text-indent: -9999px;
  border: 0;
}