// Ionicons Font Path
// --------------------------

@font-face {
 font-family: $ionicons-font-family;
 src: url("#{$ionicons-font-path}/ionicons.woff?v=#{$ionicons-version}") format("woff");
 font-weight: normal;
 font-style: normal;
}

.ion {
  font-family: $ionicons-font-family;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
