// Name your color variables with "Name that Color"
// http://chir.ag/projects/name-that-color/

$black:        #000000;
$mineshaft:    #333333;
$darkgrey:     #909090;
$silver:       #a7a7a7;
$greydark:     #c7c7c7;
$lightgrey:    #f7f7f7;
$white:        #ffffff;
$error:        darken(#ff7070, 5%);

// brand
$darkblue:     #161d33;
$lightblue:    #90c7e0;
$blue:         #3a4b7e;
$pearlbush:    #e7e1d5;
$cream:        #f5f0e5;
$brown:        #c6a583;
$maize:        #f7cbad;

$grey:         #ebebeb;
$darkgreen:    #234c53;
$lightgreen:   #275f4b;
$lightbrown:   #e7e1d4;
$blue:         #394a81;
$lightblue:    #a8cfe7;
$orange:       #f9a62c;
$yellow:       #ffd944;
$downy:        #70cabf;

$primary: $darkblue;
$secondary: $pearlbush;

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}
