// Unquoted CSS font family name validator
// https://mothereff.in/font-family

$helvetica: Helvetica Neue, Helvetica, Arial, sans-serif;
$hurme: Hurme, Helvetica, Arial, sans-serif;
$museo: museo, Helvetica, Arial, sans-serif;
$lettergothic: 'Letter Gothic', Helvetica, Arial, sans-serif;
