html {
  @include responsive-type(font-size, 320px, 1366px, 15px, 18px);
  color: $primary;
  height: 100%;
  line-height: 1.375;
}

body, button, input, textarea {
  font-family: $museo;
}

body {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 300;

  .offcanvas-bg {
    background: $primary;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0.15s;
    z-index: 9998;
    pointer-events: none;
  }

  &[data-icon-guide-state="visible"],
  &[data-contact-state="visible"],
  &[data-cart-state="visible"] {
    overflow: hidden;

    .offcanvas-bg {
      pointer-events: auto;
      opacity: 0.5;
    }

  }
}

main {
  width: 100%;
  position: relative;
  color: $primary;
}

.site-content {
  position: relative;
  z-index: 1;
  background: $white;

  [data-footer="fixed"] & {
    margin-bottom: 100vh;
  }

  .content-area, .widget-area {
    margin: 0;
  }
}

[data-footer="fixed"] .site-main {
  box-shadow: 0 5vh 20vh $blue;
}
