h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2em;
  font-family: $hurme;
  letter-spacing: 0.01em;
  color: $primary;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  @include responsive-type(font-size, 320px, 1366px, 30px, 50px);
  margin-bottom: 0;
  line-height: 1.1em;

  &.large {
    @include responsive-type(font-size, 320px, 1366px, 35px, 90px);
  }
}

h2 {
  @include responsive-type(font-size, 320px, 1366px, 26px, 50px);
}

h3 {
  @include responsive-type(font-size, 320px, 1366px, 22px, 35px);
}

h4 {
  @include responsive-type(font-size, 320px, 1366px, 18px, 20px);
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

h5 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

h6 {
  @extend %small-hurme;
}

%small-hurme {
  font-size: 12px;
  font-family: $hurme;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}
