section {
  width: 100%;
  margin: $section-margin-m 0 ($section-margin-m*1.07);
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: 50% 25%;
  background-repeat: no-repeat;

  @include media(from tablet) {
    margin: $section-margin 0 ($section-margin*1.07);
  }

  &:first-of-type {
    margin-top: 0;
  }

  &.has-bg-color, &.has-bg-image {
    margin: 0;
    padding: $section-margin-m 0 ($section-margin-m*1.07);

    @include media(from tablet) {
      margin: 0;
      padding: $section-margin 0 ($section-margin*1.07);
    }
  }

  &.has-bg-image {
    width: 100%;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba($primary, 0.5);
    // }

    @include media(from laptop) {
      min-height: 600px;
      display: flex;
      align-items: center;

      // &:not(:last-of-type) {
        background-attachment: fixed;
      // }
    }
  }

  &.vertical {

    @include media(from laptop) {
      .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

  }

}

section.vertical .vertical__heading {
  margin: 0 0 1.5rem;
  white-space: nowrap;

  @include media(from laptop) {
    position: relative;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.vb_wrap {
  @include media(from laptop) {
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}

.vertical__buttons {
  margin: 1rem 0 0;

  .arrow-btn--vertical {
    margin: 0 2rem 0 0;
  }

  @include media(from laptop) {
    margin: 0 0 0 1rem;
    min-width: 100px;

    .arrow-btn--vertical {
      margin: 0 0 1rem;
    }
  }
}
