.container, %container {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;
  width: $container-width;
  position: relative;

  &.container--tablet {
    @include media(to tablet7) {
      width: 100%;
    }
  }
}
