.entry-content {
  line-height: 1.4;

  // Heading font sizes
  // h1 { font-size: 2em; }
  // h2 { font-size: 1.5em; }
  // h3 { font-size: 1.17em; }
  // h4 { font-size: 1em; }
  // h5 { font-size: 0.83em; }
  // h6 { font-size: 0.75em; }


  // List styles
  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  ol,
  ul {
    padding-left: 2.5em;
  }

  dd dl,
  li ol,
  li ul {
    margin: 0;
  }

  dd {
    margin-left: 2.5em;
  }

  a:not([class]):not([style]) {
    color: $primary;
  }


  // Vertical margins
  blockquote,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  pre,
  ul {
    margin: 1.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

  blockquote {
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.4em;
    font-family: $hurme;
  }
}
p > img{
  width: 100%;
}

.intro-text{
  .intro-text__content{
      font-size: 1.4em;
      line-height: 1.4;
  }
}
