$grid-column-count: 12;
$grid-gutter-width: 1.5rem;


// Container
.grid {

  @include media(from laptop) {
    width: calc(100% + 3rem);
    display: flex;
    font-size: 0;
    margin-left: -$grid-gutter-width;
    margin-right: -$grid-gutter-width;
  }
}

// Container
.grid-stretched {
  width: 100%;

  @include media(from laptop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}


// Column
.grid__column {
  padding: $grid-gutter-width 0;
  position: relative;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include media(from laptop) {
    display: inline-block;
    font-size: 1rem;
    padding: 0 $grid-gutter-width;
    vertical-align: top;
  }
}


// Column widths
.grid__column-- {

  @include media(from laptop) {
    @for $i from 1 through $grid-column-count {
      &#{$i} {
        width: percentage(1 / $grid-column-count * $i);
      }
    }
  }
}

// Push
.grid__column--push {

  @include media(from laptop) {
    @for $i from 1 through $grid-column-count {
      &#{$i} {
        left: percentage(1 / $grid-column-count * $i);
      }
    }
  }
}
