@font-face {
  font-family: Icons;
  src: url("assets/fonts/icons.woff") format("woff");
}

// Icon font
%icon {
  display: inline-block;
  font-family: Icons;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
}


// PUA codes
%icon--labour { content: "\e900"; }
%icon--craftsmanship { content: "\e901"; }
%icon--nature { content: "\e902"; }
%icon--kiwi { content: "\e903"; }
%icon--inclusivity { content: "\e904"; }
%icon--transparency { content: "\e905"; }
%icon--ocean-friendly { content: "\e906"; }
%icon--recycled-paper { content: "\e907"; }
%icon--biodegradable { content: "\e908"; }
%icon--plastic-free { content: "\e909"; }
%icon--recycled-materials { content: "\e90a"; }
%icon--vegan { content: "\e90b"; }
%icon--organic-bamboo { content: "\e90c"; }
%icon--hand-crafted { content: "\e90d"; }
%icon--organic-cotton { content: "\e90e"; }
%icon--planting-trees { content: "\e90f"; }

%icon--uv-polarised { content: "\e910"; }
%icon--earth-friendly { content: "\e911"; }
%icon--supporting-communities { content: "\e912"; }
%icon--goat { content: "\e913"; }
%icon-- { content: "\e914"; }
%icon-- { content: "\e915"; }
%icon-- { content: "\e916"; }
%icon-- { content: "\e917"; }
%icon-- { content: "\e918"; }
%icon-- { content: "\e919"; }
%icon-- { content: "\e91a"; }
%icon-- { content: "\e91b"; }
%icon-- { content: "\e91c"; }
%icon-- { content: "\e91d"; }
%icon-- { content: "\e91e"; }
%icon-- { content: "\e91f"; }


.duffleicon {
  @extend %icon;
}


// duffleicon--labour : Labour
// duffleicon--craftsmanship : Craftsmanship
// duffleicon--nature : Nature
// duffleicon--kiwi : Kiwi
// duffleicon--inclusivity : Inclusivity
// duffleicon--transparency : Transparency
// duffleicon--ocean-friendly : Ocean friendly
// duffleicon--recycled-paper : Recycled paper
// duffleicon--biodegradable : Biodegradable
// duffleicon--plastic-free : Plastic free
// duffleicon--recycled-materials : Recycled materials
// duffleicon--vegan : Vegan friendly
// duffleicon--organic-bamboo : Organic bamboo
// duffleicon--hand-crafted : Hand crafted
// duffleicon--organic-cotton : Organic cotton
// duffleicon--planting-trees : Planting trees
// duffleicon--uv-polarised : UV polarised
// duffleicon--earth-friendly : Earth friendly
// duffleicon--supporting-communities : Supporting communities
// duffleicon--goat : Goat


.duffleicon--labour:before { @extend %icon--labour; }
.duffleicon--craftsmanship:before { @extend %icon--craftsmanship; }
.duffleicon--nature:before { @extend %icon--nature; }
.duffleicon--kiwi:before, .duffleicon--feeding-kiwis:before { @extend %icon--kiwi; }
.duffleicon--inclusivity:before { @extend %icon--inclusivity; }
.duffleicon--transparency:before { @extend %icon--transparency; }
.duffleicon--ocean-friendly:before { @extend %icon--ocean-friendly; }
.duffleicon--recycled-paper:before { @extend %icon--recycled-paper; }
.duffleicon--biodegradable:before { @extend %icon--biodegradable; }
.duffleicon--plastic-free:before { @extend %icon--plastic-free; }
.duffleicon--recycled-materials:before { @extend %icon--recycled-materials; }
.duffleicon--vegan:before { @extend %icon--vegan; }
.duffleicon--organic-bamboo:before { @extend %icon--organic-bamboo; }
.duffleicon--hand-crafted:before { @extend %icon--hand-crafted; }
.duffleicon--organic-cotton:before { @extend %icon--organic-cotton; }
.duffleicon--planting-trees:before { @extend %icon--planting-trees; }
.duffleicon--uv-polarised:before { @extend %icon--uv-polarised; }
.duffleicon--earth-friendly:before { @extend %icon--earth-friendly; }
.duffleicon--supporting-communities:before { @extend %icon--supporting-communities; }
.duffleicon--goat:before { @extend %icon--goat; }

.duffleicon--green:before { color: $lightgreen; }
.duffleicon--darkblue:before { color: $darkblue; }
.duffleicon--lightblue:before { color: $lightblue; }
.duffleicon--brown:before { color: $brown; }
