.error404 .site-content .widget_product_search {
  padding: 0;
  margin: 2rem 0;
}

.widget_search form:before, .widget_product_search form:before {
  content: none;
}

#content .widget_product_search form input[type=search] {
  padding: 0.5rem 1rem;
}

.page-header {
  margin-bottom: 1rem;
}
