.bg-block {

  img {
    margin: 0 auto;
  }

  .grid {
    align-items: center;
  }

  .arrow-btn {
    margin-right: 2.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .container {
    padding: 3rem 0;

    @include media(from laptop) {
      padding: 3rem 0 3.5rem 2.5rem;
    }

    h2 {
      margin-bottom: 0.3em;
      position: relative;
      z-index: 1;
    }
  }

}
.content-box {
  opacity: 0;
  transform: translateY(2em);
  transition: opacity 0.5s, transform 0.5s;
  transition-delay: 0.3s;

  .in-view & {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-block__buttons {
  text-align: right;
}

.bg-block__image {
  position: relative;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background: $white;
  //   opacity: 0.4;
  // }
}

.bg-block__bg {
  position: absolute;
  top: 0;
  background-color: $pearlbush;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  transform: translateX(100%);
  transition: transform 0.7s $ease-out-expo;

  .in-view & {
    transform: translateX(0);
  }

  @include media(from laptop) {
    width: 94%;
    left: 6%;
  }

  // @include media(from desktop) {
  //   left: initial;
  //   right: 0;
  //   width: calc( 50% + (#{$container-max-width} / 2) );
  // }
}
