.button {
  // cursor: pointer;
  // transition: all 0.3s ease-in-out;
  // display: inline-block;
  // position: relative;
  // overflow-x: hidden;
  // border: 0;
  // padding: 0;
  // text-align: center;
  // text-decoration: none;
  // padding: 15px 1rem;
  // text-transform: uppercase;

  @include media(from tablet) {
    &:hover, &:focus {
      outline: none;
    }
  }

}

%small-text-link {
  @extend %small-hurme;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  outline: 0;
  line-height: 1em;
  padding: 0.4rem 0;
  color: $darkgrey;
  background: transparent;
  display: inline-block;

  // &:after {
  //   content: none;
  // }

  &:hover, &:focus {
    color: $primary;
    border-top: 3px solid transparent;
    border-bottom: 3px solid $primary;
    background: transparent;
  }

  &.active, &:focus {
    color: $primary;
    outline: none;
  }

  .text-white & {

    &:hover, &:focus {
      color: $white;
      border-bottom: 3px solid $white;
    }

    &.active, &:focus {
      color: $white;
    }

  }

}

.added_to_cart {
  @extend %small-text-link;

  &:after {
    @extend .ion;
    content: $ionicon-var-ios-arrow-thin-right;
    font-size: 1.3em;
    vertical-align: middle;
  }
}

%text-link {
  color: $grey;
  transition: all 0.1s;
  margin-right: 1rem;
  padding-bottom: 0.3em;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
  }

  &.active, &:focus {
    color: $primary;
    outline: none;
  }
}

.button-blue,
form .button[name="add-to-cart"],
.button.alt,
.button-lightblue,
input[type="submit"] {
  display: inline-block;
  position: relative;
  padding: 0.7rem 1.5rem;
  color: $white;
  background: $primary;
  border: 2px solid $primary;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $hurme;
  font-size: 0.9em;
  letter-spacing: 0.12em;
  min-width: 13rem;
  text-align: center;
  transition: all 0.15s;


  &:after {
    content: none;
  }

  &:hover, &:focus {
    background: $white;
    color: $primary;
    border: 2px solid $primary;
    outline: none;
  }

  &.button-blue--light {
    color: $primary;
    background: $lightblue;
    border: 2px solid $lightblue;

    &:hover, &:focus {
      background: $white;
    }
  }

  &.button-blue--alt {
    background: transparent;
    color: $primary;

    &:hover, &:focus {
      color: $white;
      background: $primary;
    }
  }
}


.text-btn {
  display: inline-block;
  position: relative;
  padding: 0.3rem 0;
  color: $white;
  border-bottom: 4px solid transparent;
  transition: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $hurme;
  font-size: 1.1em;
  letter-spacing: 0.12em;

  &.text-btn--sml {
    padding: 0.15rem 0;
    border-bottom: 3px solid transparent;
    font-size: 12px;
  }

  &.text-btn--black {
    color: $black;
  }

  &.text-btn--active {
    border-color: $white;

    &.text-btn--black {
      border-color: $black;
    }
  }

  @include media(from tablet) {
    &:hover, &:focus {
      border-color: $white;
      outline: none;
    }
    &.text-btn--black:hover, &.text-btn--black:focus {
      border-color: $black;
    }
  }
}

.arrow-btn {

  // global arrow button styles
  display: inline-block;
  position: relative;
  padding: 0.5rem 0;
  font-weight: 400;
  color: $primary;
  font-family: $lettergothic;
  letter-spacing: 0.01em;
  font-size: px-em(15px);

  &:before, &:after {
    @extend .ion;
    content: $ionicon-var-ios-arrow-thin-right;
    transition: all 0.1s;
    position: relative;
    display: block;
    text-align: right;
    font-size: 75px;
    margin-bottom: -0.2em;
  }

  // standard arrow button styles
  &:hover, &:focus {
    outline: none;

    &:before {
      transform: translateX(5px);
    }
  }

  &:not(.arrow-btn--vertical):after {
    content: none;
  }

  @include media(to tablet) {
    &.arrow-btn--vertical:after {
      content: none;
    }
  }

  @include media(from laptop) {

    &.arrow-btn--vertical {
      display: flex;
      align-items: center;

      span {
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        width: 1.618em;
      }

      &:before {
        content: none;
      }

      &:after {
        position: relative;
        writing-mode: initial;
        margin: 0;
        text-align: center;
        left: 10px;
      }

      &:hover, &:focus {
        &:after {
          left: 15px;
        }
      }
    }

  }


}
