.widget_shopping_cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 600px;
  height: 100%;
  z-index: 9999;
  background: $white;
  transform: translateX(100%);
  transition: transform 0.15s;
  padding: 3rem 1.5rem;
  font-size: 0.9em;
  overflow-y: scroll;

  [data-cart-state="visible"] & {
    transform: translateX(0);
  }

  header {
    position: relative;
  }

  h4 {
    padding-right: 3rem;
  }

  .close-cart {
    position: absolute;
    right: 0;
    top: 0;
    @extend %small-hurme;

    &:before {
      @extend .ion;
      content: $ionicon-var-close;
    }
  }

  .cart-item__content {
    display: flex;
    padding-right: 4rem;
  }

  .product__features {
    justify-content: flex-start;
  }

  .product__image {
    flex: 0 0 auto;
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    background-color: $lightgrey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    // background-blend-mode: multiply;
    cursor: pointer;
    margin-right: 1rem;
  }

  .quantity {
    @extend %small-hurme;
  }
}

.cart_list {
  margin: 3rem 0;
}

.mini_cart_item {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $lightgrey;
}

.remove-from-cart {
  @extend %small-hurme;
  position: absolute;
  right: 0;
  top: 0;
  color: $grey;
}

.cart__total {
  border-bottom: 2px solid $lightgrey;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;

  small {
    font-family: $lettergothic;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $primary;
  }
}

.woocommerce-mini-cart__total {
  text-transform: initial;
  margin-bottom: 0;
}

.widget ul ul {
  margin: 0;
}
