.contact-us {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 700px;
  height: 100%;
  z-index: 9999;
  background: $blue;
  color: $white;
  transform: translateX(100%);
  transition: transform 0.15s;
  padding: 3rem 1.5rem;
  font-size: 0.9em;
  overflow-y: scroll;

  .contact-us__content {
    max-width: 550px;
    margin: 0 auto;
  }

  [data-contact-state="visible"] & {
    transform: translateX(0);
  }

  header {
    position: relative;
  }

  h2 {
    color: $white;
    margin-top: 0;
  }

  input:not([type="submit"]):not([type="checkbox"]),
  .select2-selection {
    border-bottom: 2px solid $lightblue;
  }

  textarea {
    border: 2px solid $lightblue;
    background: $white;
    color: $mineshaft;
  }

  input[type="submit"] {
    color: $primary;
    background: $lightblue;
    border: 2px solid $lightblue;

    &:hover {
      border: 2px solid $white;
      background: $white;
    }
  }

  .close-contact {
    position: absolute;
    right: 0;
    top: 0;
    @extend %small-hurme;
    color: $white;

    &:before {
      @extend .ion;
      content: $ionicon-var-close;
    }
  }

  div.wpcf7 .ajax-loader {
    position: absolute;
    right: 3em;
    top: 50%;
    margin-top: -1em;
  }

}

.contact-us__information {
  margin: 3rem 0;
  font-family: $hurme;

  a {
    display: inline-block;

    &:before {
      vertical-align: middle;
      padding-right: 0.5rem;
      color: $lightblue;
    }
  }
}

.business-phone {
  display: none;

  .page-id-52 & {
    display: block;
  }
}

.contact-select-dropdown {
  .select2-dropdown {
    box-shadow: 0 0 0 2px $lightblue;
  }

  &.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $lightblue;
  }

  li {
    color: $mineshaft;
  }
}

