.fp__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 6rem;

  @include media(from laptop) {
    flex-direction: row;
    justify-content: space-between;
  }

  h2 {
    margin: 0 2rem 0 0;
  }
}

.fp__categories {
  text-transform: uppercase;
  font-weight: 600;
  font-family: $hurme;
  font-size: 15px;
  letter-spacing: 0.12em;
  margin: 0.5rem 0 0 0;

  @include media(from laptop) {
    margin: 0.5rem 2rem 0 0;
  }

  a {
    @extend %text-link;
    white-space: nowrap;
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
  }
}

.fp__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include media(from laptop) {
    padding-top: 5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -4rem;

    .featured-products--limited & {
      margin-bottom: -10rem;
    }
  }

  .fp__product, .fp__link {
    margin-bottom: 4rem;
    position: relative;
    @include responsive-type(width, 768px, 1366px, 300px, 500px);

    &:not(.fp__link)[data-visibility="hidden"] {
      display: none;
    }

    @include media(from laptop) {
      &.fp__product--offset {
        top: -5rem;
      }
    }

    opacity: 0;
    transform: translateY(2em);
    transition: opacity 0.5s, transform 0.5s;

    @for $i from 1 to 10 {
      &:nth-child(#{$i}) {
        transition-delay: 0.2s * $i;
      }
    }

    .in-view & {
      transform: translateY(0);
      opacity: 1;
    }

  }

  .product__image {
    position: relative;
    display: block;
    width: 20rem;
    height: 20rem;
    background-color: $lightgrey;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    // background-blend-mode: multiply;
    cursor: pointer;

    @include responsive-type(width, 768px, 1366px, 300px, 500px);
    @include responsive-type(height, 768px, 1366px, 300px, 500px);

    .product__hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($blue, 0.7);
      color: $white;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 2.5rem;
      cursor: pointer;
      transition: opacity 0.15s;

      i {
        font-size: 3.5rem;
        line-height: 1em;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }

    @include media(from tablet) {
      &:hover, &:focus {
        outline: none;

        .product__hover {
          opacity: 1;
        }
      }
    }
  }
}

.fp__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $hurme;
  font-size: 15px;
  letter-spacing: 0.12em;


  @include media(from laptop) {
    @include responsive-type(width, 768px, 1366px, 300px, 500px);
    @include responsive-type(height, 768px, 1366px, 300px, 500px);
    top: -5rem;
  }

  a {
    @extend %text-link;
    margin-right: 0;
  }
}

.product__description {
  text-align: center;
  margin: 1rem 0;

  h4 {
    margin: 0.5rem 0;
  }

  .attributes {
    font-size: 15px;
  }

  .price {
    font-size: 15px;
  }
}

.product__features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;

  li {
    display: inline-block;
    position: relative;
    padding: 0 0.25rem;

    i {
      color: $silver;
      font-size: 1.75em;
    }

    .tooltip {
      position: absolute;
      bottom: calc(100% + 15px);
      left: -0.9em;
      background: $primary;
      padding: 1rem 1.2rem;
      white-space: nowrap;
      color: $white;
      opacity: 0;
      // transition: opacity 0.15s;
      pointer-events: none;
      font-family: $hurme;
      text-transform: uppercase;
      font-size: 12px;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 15px;
        @include triangle(30px, 15px, $primary, bottom)
      }

    }

    &:hover, &:focus {
      outline: none;

      i {
        color: $primary;
      }

      .tooltip {
        opacity: 1;
      }
    }
  }

}
