.footer {
  background: $blue;
  width: 100%;
  padding: $section-margin-m 0 ($section-margin-m*1.07);
  position: relative;
  z-index: 0;
  text-align: center;

  [data-footer="fixed"] & {
    position: fixed;
    width: 100%;
    height: 100%;
    // z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
  }

  @include media(from tablet) {
    padding: $section-margin 0 ($section-margin*1.07);
  }
}

.footer-select-dropdown {

  .select2-dropdown {
    background: $blue;
    color: $primary;
    font-family: $hurme;

    .select2-results__option {
      @include responsive-type(font-size, 320px, 1366px, 20px, 30px);
      padding: 0.25rem 1rem;
      text-align: center;

      &[aria-selected=true] {
        background: transparent;
      }
    }

    .select2-results__option--highlighted[aria-selected] {
      background-color: transparent;
      border: 2px solid $white;
    }
  }

}

// Variable width email
.footer {

  // div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok, div.wpcf7-spam-blocked { display: none !important; }

  .wpcf7 .wpcf7-form {
    color: $lightblue;
    @include responsive-type(font-size, 320px, 1366px, 26px, 50px);
    font-family: $hurme;
    margin-bottom: 4rem;

    p {
      width: 100%;
    }

    input[type="email"] {
      font-family: $hurme;
      @include responsive-type(width, 320px, 1366px, 300px, 550px);
      background: transparent;
      color: $lightblue;
      padding: 0;
    }

    ::placeholder {
      font-family: $hurme;
      color: $lightblue;
    }

    .select2-container {
      width: auto;
    }

    .select2-selection {
      background: transparent;
      box-shadow: none;
    }
  }

  .footer__logo {
    display: inline-block;
    margin-bottom: 2rem;
  }

  div.wpcf7 .ajax-loader {
    margin: 0 -3em 0 1em;
  }

  .wpcf7-form-control-wrap.mc4wp-EMAIL {
    display: inline-block;
    margin-bottom: 0.5em;

    input {
      @extend %u-visually-hidden;
    }

    .variable-width {
      display: inline-block;
      margin: 0;
      position: relative;
      @include responsive-type(min-width, 320px, 1366px, 250px, 480px);
      text-align: left;
      color: $white;
      border-bottom: 4px solid $white;
      transition: all 0.15s;
      max-width: 100%;
      word-break: break-word;

      &:focus {
        outline: 0;
      }

      &:empty {
        border-bottom-color: $lightblue;

        &:before {
          content: attr(placeholder);
          display: block; /* For Firefox */
          color: rgba($lightblue, 0.62);
        }
      }

    }

  }

  button {
    @include responsive-type(font-size, 320px, 1366px, 26px, 50px);
    padding: 0;
    background: transparent;
    font-family: $hurme;
    color: $lightblue;
    transition: color 0.1s;

    &:after {
      @extend .ion;
      content: $ionicon-var-ios-arrow-thin-right;
      transition: transform 0.1s;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding-left: 0.15em;
    }

    // standard arrow button styles
    &:hover, &:focus {
      color: $white;
      outline: 0;

      &:after {
        transform: translateX(5px);
      }
    }

  }

}

#menu-footer-menu {
  margin-bottom: 1rem;

  li {
    display: inline-block;
    margin: 0 1rem;

    a {
      color: $lightblue;
      font-family: $hurme;
      text-transform: uppercase;
      font-size: 12px;

      &:after {
        @extend .ion;
        content: $ionicon-var-ios-arrow-thin-right;
        transition: transform 0.1s;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: 0.15em;
      }

      &:hover, &:focus {
        color: $white;
        outline: 0;

        &:after {
          transform: translateX(5px);
        }
      }
    }
  }
}

.copyright {
  margin-bottom: 2rem;

  li {
    display: inline-block;
    margin: 0 1rem;
    color: $maize;
    font-size: 12px;

    a {
      color: $maize;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &.L {
        text-decoration: none;
        color: $lightblue;
        font-weight: 900;
      }
    }
  }
}

.footer .social {
  a {
    color: $white;
    font-size: 1.2em;
  }
}
