#content {
  form {
    margin-bottom: 2rem;

    p {
      margin: 1.5em 0;
    }
  }

  .wpcf7-form-control-wrap {
    position: relative;
    display: block;
  }

  input::placeholder {
    font-size: 0.9em;
    opacity: 0.5;
  }
}

span.wpcf7-not-valid-tip {
  position: absolute;
  width: 100%;
  font-size: 0.7rem;
  padding-top: 0.1em;
  text-align: left;
}

span.wpcf7-list-item {
  margin: 0 1rem 0.5rem 0;
}

div.wpcf7-response-output {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok, div.wpcf7-spam-blocked {
  font-size: 0.9rem;
  border: 0;
  color: $white;
  padding: 1em;
  line-height: 1.3em;
  margin: 1rem auto 0;
}

.wpcf7-spam-blocked, .wpcf7-validation-errors {
  background: $error;
}

.wpcf7-mail-sent-ok {
  background: $lightblue;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: calc(550px + 2rem);
  margin: 3rem -1rem -2.5rem;
}

#content, .contact-us {

  input[type="submit"] {
    width: 100%;
  }

  input:not([type="submit"]):not([type="checkbox"]) {
    width: 100%;
    border: 0;
    padding: 0;
    border-bottom: 2px solid $primary;
    background: none;
    background: transparent;
    box-shadow: none;
    line-height: 2rem;
    font-family: $museo;
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }

  label, .wpcf7-list-item-label {
    font-family: $lettergothic;
    font-size: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    display: inline-block;
  }

  textarea {
    width: 100%;
    background: none;
    border: 2px solid $primary;
    box-shadow: none;
    font-family: $museo;
  }

  label.placeholder {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.15s;
    pointer-events: none;

    &.active {
      transform: translateY(-100%);
      top: 0;
      font-size: 10px;
    }
  }

  .select2-selection {
    border-bottom: 2px solid $primary;
    padding: 0;
    box-shadow: none;
  }


  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__rendered, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__clear, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__arrow:before {
  }

  .select2-results__option {
    padding: 0.75em;
  }

  .select2-container:not(.select2-container--disabled) .select2-selection--single:focus .select2-selection__arrow:before,
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    font-size: 1em;
    line-height: 2rem;
  }

}

#content {
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__rendered, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__clear, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__arrow:before {
    color: $primary;
  }

  .select2-container:not(.select2-container--disabled) .select2-selection--single:focus .select2-selection__arrow:before,
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    color: $primary;
  }
  input:not([type="submit"]):not([type="checkbox"]) {
    color: $primary;
  }

  label, .wpcf7-list-item-label {
    color: $primary;
  }

  textarea {
    color: $primary;
  }
}

.contact-us {
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__rendered, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__clear, .select2-container:not(.select2-container--disabled) .select2-selection--single[aria-expanded="true"] .select2-selection__arrow:before {
    color: $white;
  }

  .select2-container:not(.select2-container--disabled) .select2-selection--single:focus .select2-selection__arrow:before,
  .select2-container--default .select2-selection--single .select2-selection__arrow,
  .select2-container--default .select2-selection--single .select2-selection__arrow:before {
    color: $white;
  }
  input:not([type="submit"]):not([type="checkbox"]) {
    color: $white;
  }

  label, .wpcf7-list-item-label {
    color: $white;
  }

  textarea {
    color: $white;
  }
}


.contact__column {
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 2.5rem;
  position: relative;

  @include media(from tablet) {
    width: 50%;
  }

  &.contact__column--full {
    width: 100%;
  }
}


// woocommerce overrides

table tbody tr:nth-child(2n) td, fieldset, fieldset legend {
  background: transparent;
}

.woocommerce-MyAccount-navigation {
  margin: 0 0 4em;
}

.hentry {
  margin: 0;
}


#content {

  table.cart.woocommerce-cart-form__contents {

    td.actions {
      .coupon {
        text-align: left;
      }
      input[type="submit"] {
        width: 50%;
      }
    }

    #coupon_code {
      margin-bottom: 1em;
    }

  }
}

.page-template-template-fullwidth-php #order_review {
  margin-left: 0 !important;
  width: 100% !important;
  box-shadow: none !important;
  position: relative;
  top: 0;

  @media (min-width: 768px) {
    width: 41.1764705882% !important;
  }
}



// Quantity

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  padding: 0 1.4em;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
}

.quantity-button {
  position: absolute;
  cursor: pointer;
  user-select: none;
  bottom: 3px;
  font-size: 0.8em;
  line-height: 2rem;
  padding: 0 0.4em;
  color: $greydark;
}

.quantity-button.quantity-up {
  @extend .ion-plus;
  right: 0;
}

.quantity-button.quantity-down {
  @extend .ion-minus;
  left: 0;
}


/* Custom CF7 Loader */
div.wpcf7 .ajax-loader,
div.wpcf7 .ajax-loader:after {
  background-image: none;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
div.wpcf7 .ajax-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid rgba($lightblue, 0.2);
  border-right: 0.2em solid rgba($lightblue, 0.2);
  border-bottom: 0.2em solid rgba($lightblue, 0.2);
  border-left: 0.2em solid $lightblue;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes load8 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

