header {
  font-family: $hurme;
}

// #content {
//   position: relative;
//   top: $headerheight;
//   transition: all 0.15s;

//   .fixed-header & {
//     top: $headerheight / 1.5;
//   }
// }

.site-header {
  padding: 0;
  border-bottom: 1px solid $lightgrey;

  .social {
    line-height: 1em;

    a {
      color: $primary;
    }
  }

}

// Header top

.header-top-wrap {
  background: $lightblue;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;

  @include media(to tablet7) {
    flex-wrap: wrap;
    height: auto;
    padding: 0.5rem 0;

    .header-top__column:nth-child(2) {
      order: 1;
      margin: 0.5rem 0 0;
      width: 100%;
    }
  }

  i {
    vertical-align: middle;
  }

  li {
    line-height: 1em;
  }

  .menu-item {
    a {
      font-size: 0.65em;
      text-transform: uppercase;
      color: $primary;
      font-weight: 600;
    }

    &:before {
      font-size: 0.8em;
      color: $primary;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}



.announcement {
  font-size: 0.65em;
  text-transform: uppercase;
  color: $primary;
  font-weight: 600;

  i {
    margin-right: 0.5rem;
  }
}



.site-logo {
  max-width: 50%;

  img {
    width: 190px;
  }
}

// Header Bottom

.header-bottom-wrap {
  // position: absolute;
  width: 100%;
  background: $white;

  // .fixed-header & {
  //   position: fixed;
  //   width: 100%;
  //   top: 0;
  // }

  .main-navigation ul .menu-item {
    padding: 0 1rem;
    text-transform: uppercase;
    color: $primary;
    font-weight: 600;

    a {
      @extend %small-text-link;
      font-size: 0.8em;
    }
  }
}

.header__left {
  position: relative;
  display: flex;
  align-items: center;
  height: $headerheight;
  padding-right: 3rem;
  justify-content: space-between;
  transition: height 0.15s;

  // .fixed-header & {
  //   height: $headerheight / 1.5;
  // }

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }

  .site-logo {
    margin: 0 2rem 0 0;
  }

}

.header__cart {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  .view-cart-contents {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &.view-cart--disabled,
    .woocommerce-cart &,
    .woocommerce-checkout & {
      opacity: 0.4;
      pointer-events: none;
      cursor: default;
    }

    .count {
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
      background: $primary;
      color: $white;
      font-size: 12px;
      font-weight: bold;
    }

    i {
      font-size: 1.5rem;
      line-height: 1.3em;
    }
  }
}

.woocommerce-active .site-header .main-navigation {
  width: auto;
  float: none;
  margin: 0;
  clear: both;

  ul.menu>li:first-child, .main-navigation ul.nav-menu>li:first-child {
    margin: 0;
  }
}

.handheld-navigation {
  max-height: none;
  display: none;
  margin-bottom: 1rem;

  @media screen and (max-width: 767px) {
    [data-handheld-nav="visible"] & {
      display: block;
    }
  }
}
