.hero {
  position: relative;
  z-index: 1;
  padding: 2rem 0;
  @include responsive-type(min-height, 320px, 1600px, 100px, 320px);
  display: flex;
  align-items: center;

  h1 {
    color: $white;
  }

  .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 25%;

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgba($primary, 0.5);
    // }

    @include media(from tablet) {
      width: 94%;
    }
  }

}
