.hero-home {
  position: relative;
  z-index: 1;

  @include media(from tablet) {
    margin: 0 0 ($section-margin*2);
  }

  .content-box {
    background: $blue;
    color: $white;
    padding: 1rem 6%;
    max-width: 100%;

    @include media(from tablet) {
      background: rgba($blue, 0.9);
      padding: 1.5rem 2.5rem;
      width: 42rem;
      position: absolute;
      bottom: 0;
    }

    h1 {
      margin-bottom: 1.5rem;
    }


    h1, a {
      color: $white;
    }
  }

}

.hero-home__slider {
  width: 100%;
  position: relative;
  z-index: 0;

  @include media(from tablet) {
    width: 94%;
    margin-bottom: $section-margin;
  }

  .slick-dots {
    position: absolute;
    left: calc(100% + 25px);
    top: 50%;
    transform: translateY(-50%);

    button {
      outline: 0 !important;
      background: transparent;
      color: $primary;
      padding: 0.3rem;
      position: relative;

      .text-white & {
        color: $white;
      }
    }

    .slick-active {
      button:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $primary;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);

        .text-white & {
          background: $white;
        }
      }
    }
  }
}

.slider__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  position: relative;
  background-image: url('assets/images/home-banner.jpg');
  @include responsive-type(height, 320px, 1600px, 160px, 650px);

  &:not(:first-of-type) {
    display: none;

    .initialized & {
      display: block;
    }
  }
}

.slider__buttons {
  a {
    margin-right: 2.5rem;
  }

  @include media(to tablet7) {
    a {
      margin-right: 1rem;
      font-size: 0.85em;
    }
  }
}
