.icon-guide {
  display: none;
  width: 90%;
  max-width: 1065px;
  max-height: 90%;
  overflow-y: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  z-index: 10000;
  padding: 4rem 1.5rem;

  @include media(from tablet) {
    padding: 5rem;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem 0 0 -1.5rem;

    @include media(from laptop) {
      margin: -2rem 0 0 -4rem;
    }

    li {
      width: 100%;
      padding: 1rem 0 0 1.5rem;
      text-align: center;

      @include media(from tablet7) {
        text-align: left;
        width: percentage(1/2);
      }

      @include media(from laptop) {
        padding: 2rem 0 0 4rem;
        width: percentage(1/3);
      }
    }
  }

  i {
    font-size: 2.8em;
    color: $black;
  }

  h2 {
    @extend %small-hurme;
    font-size: 20px;
    text-align: center;
    margin-bottom: 3em;
  }

  h3 {
    @extend %small-hurme;
  }

  p {
    @include responsive-type(font-size, 320px, 1366px, 12px, 15px);
  }

  [data-icon-guide-state="visible"] & {
    display: block;
  }


}

.close-icon-guide {
  position: absolute;
  right: 1rem;
  top: 1rem;
  @extend %small-hurme;

  @include media(from laptop) {
    right: 2rem;
    top: 2rem;
  }

  &:before {
    @extend .ion;
    content: $ionicon-var-close;
  }
}

.arrow-btn.arrow-btn--vertical.arrow-btn--key {

  &:before {
    font-family: '#{$simple-line-font-family}';
    content: "\e08c"; // key
    font-size: 2.4em;
    text-align: left;
    margin-bottom: 0.2em;
  }

  @include media(from tablet) {
    &:before {
      content: '';
    }

    &:after {
      font-family: '#{$simple-line-font-family}';
      content: "\e08c"; // key
      left: 10px;
      font-size: 2.6rem;
    }

    &:hover {
      &:after {
        left: 15px;
      }
    }
  }
}
