.insta {
  max-width: 1800px;
  margin: 0 auto;
  cursor: ew-resize;

  li {
    position: relative;
    display: inline-block;
    margin: 0 0.75rem;
  }

  a {
    display: block;
    cursor: pointer;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      .insta__content { opacity: 1; }
    }
  }
}

.insta__image {
  display: block;
  cursor: pointer;
  width: 280px;
  height: 280px;
  background-size: cover;
  background-position: 50% 25%;

  // @include media(from tablet) {
  //   height: 240px;
  // }

  // @include responsive-type(height, 1366px, 1600px, 240px, 309px);

  &:hover {
    .insta__content { opacity: 1; }
  }
}

.insta__date {
  margin-right: 1rem;
  @extend .icon-calendar;
  &:before { margin-right: 0.3em; }
}

.insta__likes {
  @extend .icon-heart;
  &:before { margin-right: 0.3em; }
}

.insta__content {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.15s;
  background: rgba($primary, 0.62);
  color: $white;
  font-size: 0.85em;
  font-family: $hurme;
}
