.panels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: calc(600px + 0.4rem);
  margin-bottom: -2rem;

  @include media(from tablet7) {
    width: calc(600px + 2rem);
  }

  @include media(from tablet) {
    width: calc(600px + 4rem);
  }
}

// square blocks
.panel__titles {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.panel {
  height: 200px;
  width: 200px;
  max-width: 27vw;
  max-height: 27vw;
  background-color: $pearlbush;
  margin: 0 0 0.7rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: opacity 0.15s;
  background-size: cover;
  background-position: 50% 50%;
  // opacity: 0.8;

  &.has-bg-img {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $primary;
      opacity: 0.3;
    }
  }

  // [data-state="open"] & {
  //   opacity: 0.5;
  // }

  // &:hover, &[data-state="active"] {
  //   opacity: 1;
  // }

  &.panel--primary {
    color: $primary;
  }

  @include media(from tablet7) {
    margin: 0 0 1rem 0;
  }

  @include media(from tablet) {
    margin: 0 0 2rem 0;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 20vw;
    max-width: 150px;
    height: auto;
  }

}

.panel__toggle {
  position: absolute;
  z-index: 1;
  top: 0.5rem;
  right: 0.5rem;
  width: 16px;
  height: 16px;

  &:before,
  &:after{
    content: "";
    position: absolute;
    background-color: $primary;
    transition: transform 0.25s ease-out;

    .text-white & {
      background-color: $white;
    }
  }

  /* Vertical line */
  &:before {
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    margin-left: -2px;
  }

  /* horizontal line */
  &:after{
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
  }

  [data-state="active"] & {
    &:before{ transform: rotate(90deg); }
    &:after{ transform: rotate(180deg); }
  }

}

.panel__image {
  width: 20vw;
  height: 10vw;
  max-width: 150px;
  max-height: 100px;
  margin: 0 auto 0.2rem;
  position: relative;

  @include media(from tablet7) {
    margin: 0 auto 0.5rem;
  }

  > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s;

    &:first-child { opacity: 1; }
    &:last-child { opacity: 0; }

    .panel:hover & {
      &:first-child { opacity: 0; transition-delay: 0.3s; }
      &:last-child { opacity: 1; }
    }
  }

}

.panel__content {
  padding: 0.1rem;
  width: 100%;
  position: relative;

  span {
    display: block;
    line-height: 1.2em;
    font-family: $hurme;
    @include responsive-type(font-size, 320px, 1366px, 12px, 20px);
    color: $primary;
  }
}

// accordion content
.panels__content {
  width: 100%;

  > div {
    // padding: 1rem;
    margin: 0 0 0.7rem 0;
    display: none;
    background: $primary;

    @include media(from tablet7) {
      margin: 0 0 1rem 0;
    }

    @include media(from tablet) {
      margin: 0 0 2rem 0;
    }

    &.text-white {

      .buttons a {
        &:hover {
          color: $white;
          border-bottom: 3px solid $white;
        }

        &.active, &:focus {
          color: $white;
        }
      }

    }

  }

  .entry-content {
    padding: 3rem 2rem;
    text-align: left;

    .buttons a {
      @extend %small-text-link;
      margin-right: 1rem;
    }

  }


}
