.people {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-self: center;
  margin: 2rem 0 -2rem;

  @include media(from laptop) {
    padding: 0 2rem;
    margin: 0 0 -2rem;
  }
}

.person {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
  // @include media(from tablet) {
  //   max-width: 50%;
  // }

  @include media(from laptop) {
    padding: 0 2rem;
    max-width: 50%;
  }

  opacity: 0;
  transform: translateY(2em);
  transition: opacity 0.5s, transform 0.5s;

  @for $i from 1 to 10 {
    &:nth-child(#{$i}) {
      transition-delay: 0.2s * $i;
    }
  }

  .in-view & {
    transform: translateY(0);
    opacity: 1;
  }
}

.person__name {
  @extend %small-hurme;
  font-size: 15px;
}

.person__title {
  font-family: $lettergothic;
  font-size: 15px;
  letter-spacing: 0.01em;
  margin-bottom: 0.2rem;
}

.person__description {
  font-size: 14px;
}

.person__image {
  width: 140px;
  height: 140px;
  background-size: cover;
  background-position: 50% 25%;
  background-color: $grey;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

