.product-hero {

  h1 {
    margin-bottom: 0.5rem;
  }

  img {
    margin: 0 auto;
  }

  .grid {
    align-items: center;
  }

  .container {
    padding: 3rem 0;
  }

  .product__features {
    justify-content: left;
    margin: 1rem 0 2rem;
  }

  form {
    align-items: flex-start;
  }

  .summary {
    padding-right: 1.5rem;
  }

}

.product-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $lightgrey;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;

  @include media(from laptop) {
    width: 94%;
  }

}

.price {
  font-family: $lettergothic;
}

.product-hero__details {
  margin: 1rem 0 2rem;

  p {
    font-size: 0.9em;
    margin-bottom: 1em;
  }
}

#content .quantity {
  margin-bottom: 2rem;
  display: block;
  width: 5em;

  label {
    @extend %small-hurme;
  }
}


// Woocommerce overrides
.woocommerce-product-gallery {
  float: none !important;
  width: 100% !important;
}

.single-product div.product .woocommerce-product-gallery img {
  width: 100%;
  margin: 0 auto;
}

.flex-control-nav {
  text-align: center;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  margin: 0 0.5em 0.5em 0 !important;
  float: none;
  display: inline-block;
  width: auto;
  position: relative;
  width: 20px;

  img {
    border-radius: 50%;
    width: 100%;
  }
}

.variations {
  td {
    background: transparent;
    padding: 0;
    display: block;

    .select2-container {
      width: 13rem !important;
      max-width: 100%;
      margin: 0 0.5em 0 0;
    }

    a.reset_variations {
      margin: 0;
    }
  }
}

.w2m-pricebreak-products {
  font-family: $lettergothic;
  font-size: 0.8em;
  margin-bottom: 1rem;

  img {
    display: inline-block;
    margin: 0;
  }
}
