.product-nav {
  margin: 1em 0;
  display: none;

  @include media(from tablet) {
    display: block;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}

.product-nav__column {
  width: percentage(1/3);

  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: right;
  }

  @extend %small-hurme;
}

.product-nav__prev a {
  &:before {
    @extend .ion;
    content: $ionicon-var-ios-arrow-left;
    margin-right: 0.5em;
  }
}
.product-nav__next a {
  &:after {
    @extend .ion;
    content: $ionicon-var-ios-arrow-right;
    margin-left: 0.5em;
  }
}
.product-nav__back {
  @extend .icon-grid;

  &:before {
    margin-right: 0.5em;
  }
}
