// ========================================================================
//
//    Artur
//    https://github.com/indrekpaas/artur
//
//    Title: Select2
//    Type:  Module
//
// ========================================================================

// Standard styles
$disabled_bg_color: #eee;
$multiple_selection_choice_bg: #e4e4e4;
$results_option_bg: $white;
$results_option_highlighted_bg: $primary;

// Custom styles
$primary_color: $primary;
$outline_color: $blue;
$select_height: 2rem;
$select_height_mobile: 2.5rem;
$font_color: $white;
$font_size: 1em;
$arrow_size: 0.8em;
$dropdown_font_size: 14px;
$dropdown_outline_color: $blue;
$dropdown_outline_size: 1px;
$dropdown_outline_focus_size: 2px;
$main_border_radius: 0;
$arrow_color: $white;

$active_color: $white;

$placeholder_color: rgba($font_color, 0.62);



.select2-container {
	display: inline-block;
	margin: 0;
	position: relative;
	// vertical-align: middle;
  z-index: 9999;

  .select2-selection {
    padding: 0.5rem 0;
  }

	.select2-selection--single {
		cursor: pointer;
		display: block;
		user-select: none;

		&:focus,
		&[aria-expanded="true"] {
			outline: none;
		}

		.select2-selection__rendered {
			// display: block;
			padding-left: 0;
			padding-right: 1.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&:not(.select2-container--disabled) .select2-selection--single {

		&:focus {

 			.select2-selection__placeholder {
 				color: $outline_color;
 			}

 			.select2-selection__arrow {

 				&:before {
 					color: $arrow_color;
 				}
 			}
		}

		&[aria-expanded="true"] {
			.select2-selection__rendered,
			.select2-selection__clear,
      .select2-selection__arrow:before {
				color: $active_color;
			}
		}
	}

	.select2-selection--multiple {
		cursor: pointer;
		display: block;
		min-height: 32px;
		user-select: none;

		.select2-selection__rendered {
			display: inline-block;
			overflow: hidden;
			padding-left: 8px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.select2-search--inline {
		float: left;

		.select2-search__field {
			border: none;
			font-size: 100%;
			margin-top: 5px;
		}

	}
}

.select2-dropdown {
	background-color: $white;
  box-shadow: 0 0 0 $dropdown_outline_focus_size $primary;
	border-radius: 4px;
	display: block;
	position: absolute;
	left: -100000px;
	width: 100%;
	z-index: 1051;
}

.select2-results {
	display: block;
}

.select2-results__options {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: $dropdown_font_size;
}

.select2-results__option {
	padding: 6px;
	user-select: none;

	&[aria-selected] {
		cursor: pointer;
	}
}

.select2-container--open {
	.select2-dropdown {
		left: 0;
	}

	.select2-dropdown--above {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.select2-dropdown--below {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.select2-search--dropdown {
	display: block;
	padding: 4px;

	.select2-search__field {
		width: 100%;
    font-size: $dropdown_font_size;
    color: $font-color;
    line-height: 2.5em;
    padding: 0 0.5em;

		&:focus {
			outline: none;
			// border: $dropdown_outline_focus_size solid $primary_color;
		}
	}

	&.select2-search--hide {
		display: none;
	}
}

.select2-close-mask {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	background-color: $white;
	filter: alpha(opacity=0);
}

.select2-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}





.select2-container--default {

	.select2-selection--single {
		background-color: transparent;
		border-radius: $main_border_radius;
    line-height: $select_height_mobile;

    @include media(from tablet) {
		  line-height: $select_height;
    }

    box-shadow: 0 0 0 $dropdown_outline_size $outline_color;

		.select2-selection__rendered {
			color: $font_color;
			font-size: $font_size;

		}

		.select2-selection__clear {
			color: rgba($outline_color, 0.8);
			cursor: pointer;
			float: right;
			font-weight: bold;
			margin-right: 0.4em;
		}

		.select2-selection__placeholder {
			color: $placeholder_color;
		}

		.select2-selection__arrow {
			position: absolute;
			top: 50%;
			right: 0;
			width: 1rem;
      transform: translateY(-50%);
      @extend .ion-ios-arrow-thin-down;

			&:before {
				color: $arrow_color;
				font-size: $arrow_size;
			}

			b {
				display: none;
			}
		}
	}

	&.select2-container--disabled {
		.select2-selection--single {
			background-color: $disabled_bg_color;
			cursor: default;

			.select2-selection__clear {
				display: none;
			}
		}

		.select2-selection--multiple {
			background-color: $disabled_bg_color;
			cursor: default;
		}

		.select2-selection__choice__remove {
			display: none;
		}
	}

	&.select2-container--open {
		&.select2-container--above {
			.select2-selection--single {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}

			.select2-selection--multiple {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}

		&.select2-container--below {
			.select2-selection--single {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			.select2-selection--multiple {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.select2-selection--single .select2-selection__arrow {
      @extend .ion-ios-arrow-thin-up;

    //   &:before {
  		// 	@include icon(arrow-up);
  		// }
    }
	}

	.select2-selection--multiple {
		background-color: $white;
    box-shadow: 0 0 0 $dropdown_outline_size $outline_color;
		border-radius: 4px;
		cursor: text;

		.select2-selection__rendered {
			list-style: none;
			margin: 0;
			padding: 0 5px;
			width: 100%;
		}

		.select2-selection__placeholder {
			color: $placeholder_color;
			margin-top: 5px;
			float: left;
		}

		.select2-selection__clear {
			cursor: pointer;
			float: right;
			font-weight: bold;
			margin-top: 5px;
			margin-right: 10px;
		}

		.select2-selection__choice {
			background-color: $multiple_selection_choice_bg;
      box-shadow: 0 0 0 $dropdown_outline_size $outline_color;
			border-radius: 4px;
			cursor: default;
			float: left;
			margin-right: 5px;
			margin-top: 5px;
			padding: 0 5px;
		}

		.select2-selection__choice__remove {
			color: $placeholder_color;
			cursor: pointer;
			display: inline-block;
			font-weight: bold;
			margin-right: 2px;
			&:hover {
				color: $outline_color;
			}
		}
	}

	.select2-results__option[role=group] {
		padding: 0;
	}

	.select2-results__option[aria-disabled=true] {
		color: $placeholder_color;
	}

	.select2-results__option[aria-selected=true] {
		background-color: $results_option_bg;
	}

	.select2-results__option--highlighted[aria-selected] {
		background-color: $results_option_highlighted_bg;
		color: $white;
	}

	.select2-results__group {
		cursor: default;
		display: block;
		padding: 6px;
	}

	&.select2-container--focus .select2-selection--multiple {
		border: solid $black 1px;
		outline: 0;
	}

	.select2-search--dropdown .select2-search__field {
		border: $dropdown_outline_size solid $outline_color;

    &:focus {
      // border: $dropdown_outline_focus_size solid $primary_color;
    }
	}

	.select2-search--inline .select2-search__field {
		background: transparent;
		border: none;
		outline: 0;
	}

	.select2-results > .select2-results__options {
		max-height: 200px;
		overflow-y: auto;
	}

	.select2-results__option .select2-results__option {
		padding-left: 1em;

		.select2-results__group {
			padding-left: 0;
		}

		.select2-results__option {
			margin-left: -1em;
			padding-left: 2em;

			.select2-results__option {
				margin-left: -2em;
				padding-left: 3em;

				.select2-results__option {
					margin-left: -3em;
					padding-left: 4em;

					.select2-results__option {
						margin-left: -4em;
						padding-left: 5em;

						.select2-results__option {
							margin-left: -5em;
							padding-left: 6em;
						}
					}
				}
			}
		}
	}
}
