.social {
  margin: 0 -0.5rem;
  line-height: 1em;

  li {
    display: inline-block;
    padding: 0 0.5rem;
  }
}

.social__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  h2 {
    margin-bottom: 0;
  }
}

.social__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85em;
  margin: $section-margin-m 0 0;

  @include media(from tablet) {
    margin: $section-margin 0 0;
  }
}
