.tabs {
  margin: 2.5rem 0 2.7rem;

  a {
    @extend %small-text-link;
    @include responsive-type(font-size, 320px, 1366px, 18px, 20px);
    margin-right: 3rem;
    outline: 0;

    &.tab-active {
      color: $primary;
    }

  }
}

.tabs-content {
  > div {
    display: none;

    &.tab-active {
      display: block;
    }
  }
}

.ini-product {
  text-align: center;

  h5 {
    margin: 0.7rem 0 0.2em;
  }

  .price {
    font-family: $lettergothic;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: $primary;
  }

  p {
    @include responsive-type(font-size, 320px, 1366px, 12px, 15px);
    margin: 0.75rem auto;
    max-width: 18rem;
  }

  button {
    @extend %small-text-link;
    margin: 0 1rem;
  }

}

.ini-product__image {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  background-color: $white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  // background-blend-mode: multiply;
  border: 2px solid $lightgrey;
  cursor: pointer;
  opacity: 1;

  @include responsive-type(width, 768px, 1366px, 120px, 220px);
  @include responsive-type(height, 768px, 1366px, 120px, 220px);

  &:hover {
    .product__hover {
      opacity: 0.9;
    }
  }
}
