.testimonials {

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: ew-resize;
  }

  .slick-slide {
    padding: 0 3.5rem 0 0;
    text-align: left;
    outline: none;

    @include media(from tablet) {
      padding: 0 5rem;
      text-align: center;
    }
  }

  h2, p, small {
    color: $primary;
  }

  p {
    margin: 1.5rem 0;
  }

  small {
    @extend %small-hurme;
  }

  .slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    button {
      outline: 0 !important;
      background: transparent;
      color: $primary;
      padding: 0.3rem;
      position: relative;

      .text-white & {
        color: $white;
      }
    }

    .slick-active {
      button:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $primary;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);

        .text-white & {
          background: $white;
        }
      }
    }
  }
}
