.cta-block {
  .grid {
    align-items: center;
    justify-content: space-between;
  }
}

.text-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1rem;
  text-align: center;

  @include media(from laptop) {
    margin: -3rem -2rem;
    flex-wrap: nowrap;
  }

  &.text-block--reverse {
    flex-direction: row-reverse;
  }

  // Main element styles
  > div {
    padding: 0 1rem;

    @include media(from laptop) {
      padding: 0 2rem;
    }
  }

  .text-block__text {
    margin: 1rem 0;

    @include media(from laptop) {
      max-width: 65%;
      min-width: 50%;
    }
  }

  .text-block__image {
    max-width: $container-max-width / 2;

    img {
      margin: 0 auto;
    }
  }

  &.text-block--single {
    @include media(to tablet) {
      .text-block__image {
        order: -1;
      }
    }
  }

  // Custom layout styles
  &.text-block--single, &.text-block--double {
    text-align: left;
    justify-content: space-between;
  }


  // Custom layout: Single image
  &:not(.text-block--double) {
    .text-block__image {
      flex: 0 0 auto;
    }
  }


  // Custom layout: Show 2 images either side of text
  &.text-block--double {

    .text-block__text {
      text-align: center;
    }

    @include media(to tablet) {

      .text-block__image {
        width: 50%;
        max-width: $container-max-width / 2;
      }

      .text-block__image:first-child { order: 0; }
      .text-block__image:last-child { order: 1; }
      .text-block__text { order: 2; }
    }

    @include media(from laptop) {
      .text-block__image {
        max-width: $container-max-width * 0.35;
      }

      .text-block__image:first-child { margin: 0 0 0 -8vw; }
      .text-block__image:last-child { margin: 0 -8vw 0 0; }
      &.text-block--reverse {
        .text-block__image:first-child { margin: 0 -8vw 0 0; }
        .text-block__image:last-child { margin: 0 0 0 -8vw; }
      }

    }

  }

}
