.timeline-heading {
  @include media(from tablet) {
    text-align: center;
    margin-bottom: 3rem;
  }
}

.timeline {
  position: relative;
}

.timeline__icon {
  position: absolute;
  top: 50px;
  // margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  padding: 0.5rem;
  font-size: 1.8rem;
  // transition: transform 0.15s;
  z-index: 1;
  transition: top 0.5s;

  display: none;

  @include media(from laptop) {
    display: block;
  }

  &:before {
    position: relative;
  }

  &.timeline__icon--anim:before {
    display: block;
    animation-name: bounce;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-delay: 0.3s;
  }

  &.timeline__icon--left {
    transform: scaleX(-1) translateX(50%);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem) rotate(-5deg);
  }
}

.is-below-top {
  // position: absolute;
  // top: 50px;
}

.is-below-end {
  // position: absolute;
  // bottom: -80px;
  // top: initial !important;
}

.timeline__list {
  position: relative;
}

.timeline__bar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  text-align: center;
  width: 2px;
  border-left: 2px dashed $grey;
  margin: 80px 0 0;
  display: none;

  @include media(from laptop) {
    display: block;
  }
}

.timeline__image {
  img {
    margin: 0 auto;
  }
}

.timeline__row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  @include media(from laptop) {
    margin-bottom: 6rem;
    flex-direction: row;

    img {
      right: -8vw;
      position: relative;
    }

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;

      img {
        right: initial;
        left: -8vw;
      }
    }

  }

  > div {
    width: 100%;

    @include media(from laptop) {
      width: 35%;
    }
  }

  h5 {
    color: $lightblue;
  }

  p {
    @include responsive-type(font-size, 320px, 1366px, 12px, 14px);
  }

}

.timeline__text {
  margin: 1rem 0;
}

div.timeline__row {
  text-align: center;

  @include media(from laptop) {
    justify-content: center;
    flex-direction: column-reverse;

    img {
      left: initial;
      right: initial;
    }
  }
}

