// Unquoted CSS font family name validator
// https://mothereff.in/font-family

@font-face {
  font-family: Hurme;
  font-style: normal;
  // font-weight: 600;
  src: url("assets/fonts/hurme-geometric-sans-4-semibold.woff2") format("woff2"),
       url("assets/fonts/hurme-geometric-sans-4-semibold.woff") format("woff");
}

@font-face {
  font-family: 'Letter Gothic';
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/letter-gothic.woff2") format("woff2"),
       url("assets/fonts/letter-gothic.woff") format("woff");
}

@font-face {
  font-family: 'Museo';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Museo300-Regular-webfont.woff2") format("woff2"),
       url("assets/fonts/Museo300-Regular-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Museo';
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Museo500-Regular-webfont.woff2") format("woff2"),
       url("assets/fonts/Museo500-Regular-webfont.woff") format("woff");
}
