.image-slider {

  .slick-slide {
    width: 100%;
    @include responsive-type(height, 320px, 1366px, 200px, 330px);
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $white;
    position: relative;

    > span {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      opacity: 0.9;
    }
  }

  .image-slider__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .slick-arrow {
    display: inline-block;
    font-size: 2.5rem;
    padding: 1rem;
    line-height: 1em;
    background: transparent;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    &.slick-next { right: 0; }
    &.slick-prev { left: 0; }
  }

  .slick-dots {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);

    li {
      display: inline-block;
    }

    button {
      background: transparent;
      font-size: 0;
      padding: 0.25rem;
      outline: 0 !important;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid $white;
        background: $white;
        border-radius: 50%;
        display: inline-block;
        position: relative;
      }
    }

    .slick-active {
      button:before {
        background: transparent;
      }
    }
  }

}
