// .slider--hero {
//   position: relative;
//   z-index: 1;

//   @media (min-width: 768px) {
//     margin: 0 0 ($section-margin*2);
//   }

//   .content-box {
//     background: $blue;
//     color: $white;
//     padding: 1rem 6%;
//     max-width: 100%;

//     @media (min-width: 768px) {
//       background: rgba($blue, 0.9);
//       padding: 1.5rem 2.5rem;
//       width: 42rem;
//       position: absolute;
//       bottom: 0;
//     }

//     h1 {
//       margin-bottom: 1.5rem;
//     }

//     h1, a {
//       color: $white;
//     }
//   }

//   .slick-dots {
//     position: absolute;
//     left: calc(94% + 25px);
//     top: calc(50% - 2.8rem);
//     transform: translateY(-50%);

//     button {
//       outline: 0 !important;
//       background: transparent;
//       color: $primary;
//       padding: 0.3rem;
//       position: relative;

//       .text-white & {
//         color: $white;
//       }
//     }

//     .slick-active {
//       button:before {
//         content: "";
//         display: inline-block;
//         width: 20px;
//         height: 2px;
//         background: $primary;
//         position: absolute;
//         left: -25px;
//         top: 50%;
//         transform: translateY(-50%);

//         .text-white & {
//           background: $white;
//         }
//       }
//     }
//   }

// }

// .slider__image {
//   width: 100%;
//   height: 20vw;
//   background-size: cover;
//   background-position: 50%;
//   @include responsive-type(height, 320px, 1600px, 160px, 650px);
//   position: relative;
//   background-image: url('assets/images/home-banner.jpg');

//   // &:before {
//   //   content: '';
//   //   position: absolute;
//   //   background: $white;
//   //   width: 100%;
//   //   height: 100%;
//   //   top: 0;
//   //   left: 0;
//   //   opacity: 0.2;
//   // }

//   @media (min-width: 768px) {
//     width: 94%;
//     margin-bottom: $section-margin;
//   }
// }

// .slider__buttons {
//   a {
//     margin-right: 2.5rem;
//   }
// }
