@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?8kdz1p');
  src:  url('fonts/icons.eot?8kdz1p#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?8kdz1p') format('truetype'),
    url('fonts/icons.woff?8kdz1p') format('woff'),
    url('fonts/icons.svg?8kdz1p#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-labour:before {
  content: "\e900";
}
.icon-craftsmanship:before {
  content: "\e901";
}
.icon-nature:before {
  content: "\e902";
}
.icon-kiwi:before {
  content: "\e903";
}
.icon-inclusivity:before {
  content: "\e904";
}
.icon-transparency:before {
  content: "\e905";
}
.icon-ocean-friendly:before {
  content: "\e906";
}
.icon-recycled-paper:before {
  content: "\e907";
}
.icon-biodegradable:before {
  content: "\e908";
}
.icon-plastic-free:before {
  content: "\e909";
}
.icon-recycled-materials:before {
  content: "\e90a";
}
.icon-vegan:before {
  content: "\e90b";
}
.icon-bamboo:before {
  content: "\e90c";
}
.icon-hand-crafted:before {
  content: "\e90d";
}
.icon-organic-cotton:before {
  content: "\e90e";
}
.icon-trees:before {
  content: "\e90f";
}
.icon-uv:before {
  content: "\e910";
}
.icon-earth:before {
  content: "\e911";
}
.icon-communities:before {
  content: "\e912";
}
.icon-goat:before {
  content: "\e913";
}
